.logo-header {
    width: 8rem;
}
.back-saloon{
    padding: 0.6rem;
    font-size: 14px;
    font-family: Bob;
    border-radius: 0.3rem;
    background-color: #03E5B7;
    margin-bottom: -2rem;
    width: 6rem;
    border: none;
    box-shadow: 5px 5px 10px rgba(31, 29, 29, 0.185);
    transition: .2s;
}
.back-saloon:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.nav-orders {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background-color: #F9F7F4; 
    height: 5rem;
    box-shadow: 5px 5px 10px rgba(31, 29, 29, 0.185);
}

.nav-btn { 
    padding: 0.8rem;
    border-radius: 2rem;
    background-color: #f38a8aeb;
    border: none;
    cursor: pointer;
    color: black;
    width: 15rem;
    margin: 1.5rem;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Bob;
    transition: .2s;
}

.nav-btn:hover {
    background-color: #ff6161eb;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.ocean-img{
    width: 5rem;
    margin-left: 10rem;
}

.ocean-img-flo{
    width: 6rem;
    margin-left: 1rem;
}

.ocean-img-flow{
    width: 7rem;
    margin-left: 10rem;
}


@media (min-width: 1026px){
    .nav-orders {
       padding: 1rem;
    }
    .nav-btn{
        padding: 0.8rem;
        margin-top: 20px;
    }

}
