.container-kitchen {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Bob;
    background-image: linear-gradient(48deg, #348691, #6EDEEA); 
}

.txt-logOut{
    color: #00000063;
    font-family: Bob;
    margin-bottom: -1rem;
    display: flex;
    justify-content: center;
}

.btn-div{
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.logOut-btn{
    padding: 1rem;
    border: none;
    background-color: inherit;
}

.window-img {
    width: 7.5rem;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
    margin: -20px;
}

.window-img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.btn-status {
    padding: 0.5rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    margin: 0.8rem 0 0;
    transition: .2s;
    font-size: 14px;
    width: 10rem;
    background-color: #f38a8aeb;
    font-family: Bob;
}

.btn-status:hover{
    background-color: #ff6161eb;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}